.chat-messages-container
{
  flex-grow: 1;
  margin-top: 20px;
  margin-bottom: 10px;
  overflow: scroll;
  scrollbar-width: none;
}

.welcome-message 
{
  color: rgb(120, 120, 120);
  text-align: center;
}

.loading-spinner
{
  height: 40px;
  margin: -15px;
}